build --strategy=TsProject=worker
build --incompatible_strict_action_env
build --shell_executable=/bin/bash

build --action_env=STORAGE_PG_BACKEND_USER
build --action_env=STORAGE_PG_BACKEND_HOST
build --action_env=STORAGE_PG_BACKEND_PASSWORD
build --action_env=STORAGE_PG_BACKEND_JDBC_URL

build --java_language_version=17
build --java_runtime_version=remotejdk_17
build --tool_java_language_version=17
build --tool_java_runtime_version=remotejdk_17

# TODO remove this when grpc-java can be built without
build --javacopt="-XepDisableAllChecks"

build --sandbox_default_allow_network=false
build --repo_env=CC=clang

run --incompatible_strict_action_env

common --incompatible_allow_tags_propagation

# buildbuddy
build:remote --bes_backend=grpcs://remote.buildbuddy.io
build:remote --bes_results_url=https://app.buildbuddy.io/invocation/
build:remote --crosstool_top=@buildbuddy_toolchain//:toolchain
build:remote --experimental_profile_include_primary_output 
build:remote --experimental_profile_include_target_label
build:remote --experimental_remote_build_event_upload=minimal
build:remote --experimental_remote_cache_compression
build:remote --extra_execution_platforms=@buildbuddy_toolchain//:platform
build:remote --extra_toolchains=@buildbuddy_toolchain//:cc_toolchain
build:remote --host_platform=@buildbuddy_toolchain//:platform
build:remote --nolegacy_important_outputs
build:remote --noslim_profile 
build:remote --platforms=@buildbuddy_toolchain//:platform
build:remote --remote_cache=grpcs://remote.buildbuddy.io
build:remote --remote_executor=grpcs://remote.buildbuddy.io
build:remote --remote_timeout=3600

try-import .bazelrc.local
