build --incompatible_strict_action_env
run --incompatible_strict_action_env

build --shell_executable=/bin/bash

build --action_env=STORAGE_PG_BACKEND_USER
build --action_env=STORAGE_PG_BACKEND_HOST
build --action_env=STORAGE_PG_BACKEND_PASSWORD
build --action_env=STORAGE_PG_BACKEND_JDBC_URL

build --java_language_version=17
build --java_runtime_version=remotejdk_17
build --tool_java_language_version=17
build --tool_java_runtime_version=remotejdk_17

build --sandbox_default_allow_network=false
build --action_env=CC=/usr/lib/llvm/18/bin/clang
build --action_env=CXX=/usr/lib/llvm/18/bin/clang++
build --repo_env=CC=/usr/lib/llvm/18/bin/clang
build --repo_env=CXX=/usr/lib/llvm/18/bin/clang++

common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
common --incompatible_allow_tags_propagation

# pulls vars set in .bazelrc.local by logos dev setup
run --run_under='//tools:bazel-env'

try-import %workspace%/.bazelrc.local