build --shell_executable=/bin/bash

build --action_env=STORAGE_PG_BACKEND_USER
build --action_env=STORAGE_PG_BACKEND_HOST
build --action_env=STORAGE_PG_BACKEND_PASSWORD
build --action_env=STORAGE_PG_BACKEND_JDBC_URL

build --action_env=AWS_WEB_IDENTITY_TOKEN_FILE
build --action_env=AWS_ROLE_ARN
build --action_env=HOME
build --action_env=LOGOS_AWS_ACCOUNT_ID
build --action_env=LOGOS_AWS_EKS_CLUSTER
build --action_env=LOGOS_AWS_EKS_USER
build --action_env=LOGOS_AWS_REGION
build --action_env=LOGOS_AWS_REGISTRY

build --host_action_env=AWS_WEB_IDENTITY_TOKEN_FILE
build --host_action_env=AWS_ROLE_ARN
build --host_action_env=HOME
build --host_action_env=LOGOS_AWS_ACCOUNT_ID
build --host_action_env=LOGOS_AWS_EKS_CLUSTER
build --host_action_env=LOGOS_AWS_EKS_USER
build --host_action_env=LOGOS_AWS_REGION
build --host_action_env=LOGOS_AWS_REGISTRY

build --local_resources=cdk_lock=1
build --extra_toolchains=//:java_toolchain
build --java_language_version=23
build --java_runtime_version=23
build --tool_java_language_version=23
build --tool_java_runtime_version=23

build --sandbox_default_allow_network=false
run --run_under='@logos//tools:bazel-env'

common --incompatible_allow_tags_propagation
common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig

try-import %workspace%/.bazelrc.local
