/.DS_Store
/.bazelrc.local
/.bazelrc.local
/.fasl
/.ijwb/.idea/libraries
/.pnpm-store
/bazel-bin
/bazel-logos
/bazel-out
/bazel-testlogs
/build/
/cfg/*
/env
/gitops_local.bzl
/gitops_repositories.bzl
/node_modules/*
/target
/dev/logos/infra/dist
/dist
