*.sw?
/.DS_Store
/.aspect
/.bazelrc.local
/.eclipse/projects
/.ijwb/.blaze/modules/.project-data-dir.iml
/.ijwb/.blaze/modules/.workspace.iml
/.ijwb/.idea/aspect/
/.ijwb/.idea/aws.xml
/.ijwb/.idea/libraries
/.ijwb/.idea/misc.xml
/.ijwb/.idea/vcs.xml
/.ijwb/.idea/workspace.xml
/.ijwb/aspect/
/.ijwb/aspects/
/.pnpm-store
/bazel-bin
/bazel-logos
/bazel-out
/bazel-testlogs
/node_modules/*
