*.sw?
/.DS_Store
/.bazelrc.local
/.eclipse
/.ijwb/.blaze/modules/.workspace.iml
/.ijwb/.idea/libraries
/.pnpm-store
/bazel-bin
/bazel-logos
/bazel-out
/bazel-testlogs
/cfg/*
/dev/logos/stack/dist
/node_modules/*
/vendor/js/dist