<component name="libraryTable">
  <library name="app">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/bazel-logos/bazel-out/k8-fastbuild/bin/dev/logos/app/libapp-src.jar!/" />
      <root url="jar://$PROJECT_DIR$/bazel-logos/bazel-out/k8-fastbuild/bin/dev/logos/app/libapp-hjar.jar!/" />
      <root url="jar://$PROJECT_DIR$/bazel-logos/bazel-out/k8-fastbuild/bin/dev/logos/app/libapp.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>